@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr{
    @apply block
}

body {
    @apply font-sans;
  }

/* hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
  }
  